# Pastas de Build e Compilação
target/
**/target/
*.class
**/*.class

# Arquivos de Configuração do Firebase
src/main/resources/firebase-config*.json

# VS Code (Configurações do seu editor)
.vscode/
.settings/
.classpath
.project

# Arquivos de Sistema e Backups
.DS_Store
Thumbs.db
*.zip
*.7z
*.rar